<!-- <div class="main-title">

Welcome to ListEasy

</div> -->

<!-- <h1>Listings</h1> -->
<!-- <div class="menu-nav"> -->
<div class="title-info">
<%= link_to "Create New Listing", "/listings/new" %>
</div>
<% @listings.each do |listing| %>
<div class="title-info">
<p><%= listing.address %> | <%= listing.price %> | <%= listing.agent %></p>
 <p><%= link_to image_tag(listing.image.url), "/listings/#{listing.id}" %></p>
</div>

<div class="listing-info">
<p>Check out <%= link_to listing.address, "/listings/#{listing.id}" %></p>
</div>


	 <% end %>