<!-- <div class="title-info">
<%= link_to "Back to Listings", listings_url %> | <%= link_to "Edit", edit_listing_path(@listing) %> | <%= link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"}  %>


 -->

<!-- ABOVE NEEDS TO BE MOVED TO HEADER! -->

<div class="address">
	<p><%= @listing.address %></p>
</div>
<div class="price-agent">
	<p>$<%= @listing.price %> | <%= @listing.agent %> | <%= @listing.city %></p>
</div>


<div class="image-duo">
<img src="<%= @listing.image.url %>" align="middle"><img class="img2" src="<%= @listing.image2.url %>" align="middle">
</div>

<div class="image-duo">
<img src="<%= @listing.image3.url %>" align="middle"><img class="img2" src="<%= @listing.image4.url %>" align="middle">
</div>

<div class="image-duo">
<img src="<%= @listing.image5.url %>" align="middle"><img class="img2" src="<%= @listing.image6.url %>" align="middle">
</div>


<br>
<div class="listing-info">
	 <p>Bedrooms: <%= @listing.bedrooms %></p>
	 <p>Bathrooms: <%= @listing.bathrooms %></p>
	 <p>Square Footage: <%= @listing.sqft %></p>
	 <p>About <%= @listing.address %></p><p><%= @listing.description%></p>
	 <p>Agent: <%= @listing.agent %></p>
	 <p>Email: <%= @listing.email %></p>
	 <p>Website: <%= @listing.website %></p>
	 <p>Contact: <%= @listing.number %></p>
</div>

