



<div class="menu-nav">

<%= link_to "Back to Listings", listings_url %> | <%= link_to "Edit", edit_listing_path(@listing) %> | <%= link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"}  %>
</div>


<div class="listing-content"
<p><%= @listing.address %> // <%= @listing.price %> // <%= @listing.agent %></p>
<img src="<%= @listing.url %>">
	 <p>Bedrooms: <%= @listing.bedrooms %></p>
	 <p>Bathrooms: <%= @listing.bathrooms %></p>
	 <p>Square Footage: <%= @listing.sqft %></p>
	 <p>Description: <%= @listing.description %></p>
	 <p>Agent: <%= @listing.agent %></p>
	 <p>Email: <%= @listing.email %></p>
	 <p>Contact: <%= @listing.number %></p>

	 </div>